Project Management Tool (PMT):  Day 12 of Agentic AI Coding
----------------------------------------------------------

Minor Bug Fixes and Enhancements
--------------------------------
1.) In the Road Map, default the view so that the Sprints are collapsed by default.
2.) In the Gantt Chart, default the sort order to "Start date descending".
3.) In the Kanban Board, default the view to "Hide empty columns".
4.) In the Dev Tasks, default the sprint to the current / last sprint.
5.) In Scrum, add a Filter section and add a filter project dropdown.
6.) In Scrum, in the Filter section add a Person filter checkboxes.
7.) In Scrum, in the Filter section add Calendar/Date filter.
8.) The Gantt Chart's fly-by function is completely broken.  When you click the fly-by button, it does not render the last/current sprint into view correctly.  Consequently, the subsequent sprints/destinations do not render into view as well.  Fix it please.

Minor Bug Fixes and Enhancements
--------------------------------
1) In Scrum, in the Filter section, by default all names should be checked.
2.) Move the Settings menu item from the Avatar dropdown to top Nav as the last time item in the Top Navigation and following the already established rules for when a top nav button becomes a menu item in the nav overflow menu.
3.) I notice that in Projects when you hover on the Projects card, the card shifts a few pixels.  This should not happen.  The card should stay in the same position and not move when you hover on it.
4.) When I am in the Gantt Chart or Road Map and I bring up the Avatar menu, the top part of the Gantt Chart and Road Map (the header) is floating above the Avatar menu.  Adjust the z-index of the Avatar menu so that it is above the header of the Gantt Chart and Road Map when it is open.  This will ensure that the Avatar menu is fully visible and accessible to the user when they open it from the Gantt Chart or Road Map screens.

Minor Bug Fixes and Enhancements
--------------------------------
1.) In the Chart drilldown, when the user clicks on a chart and a dialog of list of item is presented, make the whole row on the list clickable.
2.) I notice that in the Sprints view when you hover on a Sprint card, the card shifts a few pixels.  This should not happen.  The card should stay in the same position and not move when you hover on it.
3.) Adjust the overall layout of the entire PMT application so that when the content is long and the browser's vertical scrollbar appears, the content does not shift to the left.  The content should stay in the same position and not move when the vertical scrollbar appears.

Bug
1.) In the Edit Scrum dialog box, if you hover around and move around the Pinned checkbox, the checkbox seems to render in a scaled / large state for a fraction of a second.  It's very jarring.  Fix it please as quickly and surgically as possible as I only have 2% Codex Quota.
